* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.checkmark{
    font-size: 16px;
    color:blue;
    margin-bottom: 0px;
}

:root {
    --pink-color: #f2726a;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 326px;
    height: 590px;
    background: #242628;
    border-radius: 10px;
    margin: 0px 30px;
    text-align: center;
    overflow: hidden;
    color: #ffff;
    border: 1px solid var(--pink-color);
}

.card__image {
    margin: 20px auto;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 4px solid var(--pink-color);
    overflow: hidden;
    /* cursor: pointer; */
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.4s;
}

.card__name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__job {
    color: var(--pink-color);
    margin: 10px 0px;
    font-style: italic;

}

.card__social {
    margin: 16px 0px;
}

.card__social a{
    text-decoration: none;
    color: #ffff;
}

.card__social i {
    margin: 8px 20px;
    font-size: 24px;
    transition: 0.5s;
}


.card__social i:hover {
    color: var(--pink-color);
    font-size: 32px;
    margin: 0px 20px;
}


.card__payment-title button {
    outline: none;
    border: none;
    padding: 8px 16px;
    background: transparent;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid var(--pink-color);
    font-weight: bold;
    transition: 0.5s;
}
.card__payment-title button:hover {
    background: var(--pink-color);
}

.card__image:hover {
    height: 100%;
    width: 100%;
    border-radius: unset;
    border: unset;
    margin: unset;
}

.card__image img:hover {
    border-radius: unset;
}

.card__payment{
   padding: 5px;
   margin: 8px;
   background: transparent;
   border: 1px solid var(--pink-color);
   border-radius: 4px;
   display: flex;
   transition: 0.3s;
}

.payment__images{
    width:60px;
    height: 60px;
    margin-right: 16px ;
    transition: 0.3s;
}

.payment__images img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.payment__lable{
    margin-top: 4px;
    font-size: 14px;
    text-align: left;
    padding-left: 12px ;
    border-left: 2px solid var(--pink-color) ;
    color: #cea469;
}
.payment__detail{
    margin-top: 4px;
    font-size: 14px;
    text-align: left;
    padding-left: 15px ;

}
.card__payment p{
    padding: 1px;
}

.payment__momo, .payment__viettinbank, .payment__mb{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.payment__momo{
    color: #ae2070;
}
.payment__viettinbank{
    color: #93d5f6 ;
}
.payment__mb{
    color: #ed193a;
}

.card__payment:hover{
    border: 3px solid var(--pink-color);
    /* padding: 5px; */
}
.card__payment:hover .payment__images {
    width:68px;
    height: 68px;
    margin-right: 16px ;
}